.deck-list {
  list-style: none;
  padding-left: 0;
}

.deck-item {
  margin: 1em;
}

.deck-detail {
  border: 1px solid #646cff;
  background-color: #303030;
  border-radius: 7px;
  padding: 16px 7px;
}

.deck-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deck-detail-header>h2 {
  margin: 0;
}

.deck-detail-header>div>p {
  margin: 0;
  font-size: .7em;
}

.deck-detail-description {
text-align: left;
}